---
# Install i3-wm

- name: Ensure packages are installed
  apt: pkg={{item}} update_cache=yes force=yes state=installed
  with_items:
    - xfce4
    - i3-wm

- name: Ensure autostart files
  copy: src={{item}} dest=/home/{{remote_user}}/.config/autostart/ owner={{remote_user}} group={{remote_user}} mode='u=rw'
  with_fileglob:
    - autostart/*

- name: Delete session cache
  file: path=/home/{{remote_user}}/.cache/sessions state=absent

- name: Set permissions for XFCE perchannel config directory
  file: path=/home/{{remote_user}}/.config/xfce4/xfconf/xfce-perchannel-xml state=directory owner={{remote_user}} group={{remote_user}} mode='u=rw'

- name: Copy session config
  shell: cp /etc/xdg/xfce4/xfconf/xfce-perchannel-xml/xfce4-session.xml /home/{{remote_user}}/.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-session.xml

- name: Set permissions
  file: path=/home/{{remote_user}}/.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-session.xml owner={{remote_user}}  group={{remote_user}} mode='u=rw'

- name: Ensure /tmp directory
  file: path=/tmp state=directory

- name: Ensure patch for xfce4-session.xml
  copy: src=xfce/xfce4-session.xml.patch dest=/tmp/ owner={{remote_user}} group={{remote_user}} mode='u=rw'

- name: Apply patch
  patch:
    remote_src=True
    src=/tmp/xfce4-session.xml.patch
    dest=/home/{{remote_user}}/.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-session.xml

- name: Hide xfwm4-settings manager
  lineinfile: dest=/usr/share/applications/xfce-wm-settings.desktop state=present line="Hidden=true"

- name: Ensure i3 config directory
  file: path=/home/{{remote_user}}/.i3 state=directory

- name: Ensure i3 config
  copy: src={{item}} dest=/home/{{remote_user}}/.i3/ owner={{remote_user}} group={{remote_user}} mode='u=rw'
  with_fileglob:
   - i3/*

- name: Set permissions for i3 config directory
  file: path=/home/{{remote_user}}/.i3 recurse='yes' owner={{remote_user}} group={{remote_user}} mode='u=rwX'
